@import "./header";
@import "./footer";
@import "./style";

.inner-content{
    // border: 1px solid;
    margin: 0 auto;
    width: 100%;
    // max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .article-area{
        width: 100%;
        max-width: 900px;
        padding: 32px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-frame{
            width: 100%;
            height: fit-content;
            img{
                width: 100%;
            }
        }
        .content-info{
            width: 100%;
            max-width: 768px;
            .date{
                color: $lightNavy;
                font-size: 13px;
                font-weight: 500;
                padding: 16px 0;
            }
            h2{
                color: $grey8;
                font-size: 32px;
                font-weight: 500;
                margin: 0;
            }
            p{
                color: $warmGrey;
                font-weight: 400;
            }
            .btn-area{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 8px;
                > div{
                    @include solid-btn-style ;
                }
                .outline-btn{
                    border: 1px solid $warmGrey;
                    color: $warmGrey;
                    font-weight: 300;
                    font-size: 13px;
                }
                &.center{
                    align-items: center;
                    padding: 16px 8px;
                    .solid-btn{
                        background: $denimBlue;
                        color: $whiteFour;
                        width: 100%;
                        max-width: 160px;
                    }

                     @include pad {
                        display: none;
                     }
                }
            }
            .mobile-text-area{
                display: flex;
                flex-direction: column;
                // border: 1px solid red;
                display: none;
                label{
                    color: $warmGrey;
                    margin-right: 8px;
                }
                input{
                    border: 1px solid $warmGrey;
                    border-radius: 50px;
                    width: calc(100% - 92px);
                    line-height: 30px
                }
                .solid-btn{
                    @include solid-btn-style;
                    margin-top: 12px;
                    &.navy{
                        background: $lightNavy;
                        color: $whiteFour;
                    }
                }
                @include mobile-md {
                    display: flex;
                }
            }
            .tag-area{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: 16px 8px;
                border-bottom: 2px solid $whiteThree;
                .tag{
                    background: $WhiteTwo;
                    color: $warmGrey;
                    font-size: 15px;
                    font-weight: 400;
                    padding: 4px 8px;
                    margin-bottom: 8px;
                    &+.tag{
                        margin-left: 8px;
                    }
                }
            }
            .action-area{
                display: flex;
                justify-content: space-between;
                .interact-btn-area{
                    display: flex;
                    // border: 1px solid red;
                    .fn-btn{
                        display: flex;
                        align-items: center;
                        color: $warmGrey;
                        font-size: 13px;
                        &+.fn-btn{
                            margin-left: 8px;
                        }
                    }
                    img{
                        width: 24px;
                        padding: 0 4px;
                    }
                    @include pad {
                        margin: 0;
                        padding: 8px 0;
                        img{
                            width: 32px;
                        }
                    }
                }
                .provider{
                    display: flex;
                    align-items: center;
                    padding: 16px 0;
                    .title{
                        color: $warmGreyTwo;
                        font-size: 13px;
                        margin-right: 8px;
                    }
                    .img-info{
                        width: 100%;
                        width: 250px;
                        height: 50px;
                        background: url(../image/assets/pic_l.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        display: flex;
                        align-items: center;
                        padding: 8px;
                        .p-icon{
                            background: $whiteThree;
                            display: flex;
                            width: 45px;
                            height: 45px;
                        }
                        .name-info{
                            margin-left: 4px;
                            .name{
                                color: $whiteFour;
                                font-size: 14px;
                            }
                            .like-btn{
                                color: $WhiteTwo;
                                font-size: 11px;
                            }
                        }
                        @include pad {
                            width: 100%;
                        }
                    }
                    @include pad {
                        flex-direction: column;
                    }
                }
                @include pad {
                    flex-direction: column;
                }
            }
            .review-area{
                .title-filter{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 2px solid $whiteThree;
                    padding: 8px;
                    .number{
                        font-weight: 600;
                        font-size: 15px;
                    }
                    .filter-area{
                        color: $grey8;
                        font-size: 15px;
                        select{
                            margin-left: 6px;
                        }
                    }
                }
                .review-list{
                    margin-top: 16px;
                    // border: 1px solid;
                    padding: 16px 0;
                    border-bottom: 2px solid $whiteThree;
                    .one-list{
                        // border: 1px solid;
                        display: flex;
                        padding: 8px 0;
                        .img-wrap{
                            // border: 1px solid ;
                            width: 55px;
                            height: 55px;
                            margin-right: 12px;
                            img{
                                width: 100%;
                            }
                        }
                        .review-text{
                            width: calc(100% - 67px);
                            border: 1px solid $warmGreyTwo;
                            padding: 0 8px;
                        }
                    }
                }
            }
            .plugin-name{
                height: 18px;
                font-size: 12px;
                color: $denimBlue;
                display: flex;
                align-items: center;
                // padding: 8px 0;
                margin: 24px 0;
                img{
                    height: 100%;
                    margin-right: 8px;
                }
            }
        }
        @include pad-lg {
            padding: 32px  16px 0 16px;
        }
    }
    .recommand-area{
        width: 100%;
        background-color: $WhiteTwo;
        padding: 16px 16px 32px 16px;
        .area-title{
            display: flex;
            justify-content: center;
            padding: 8px 0;
            h2{
                color: $grey8;
                margin: 0;
                font-size: 32px;
                text-align: center;
                width: fit-content;
                position: relative;
                padding: 12px;
                &::after{
                    content: '';
                    display: inline-block;
                    // width: 100%;
                    height: 5px;
                    border-radius: 50px;
                    background: $lightNavy;
                    position: absolute;
                    left: 25%;
                    bottom: 0;
                    width: 50%;
                }
            }
        }
    }
    .arrow{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-image: url(../image/assets/pic_l.png);
        background-size: contain;
        position: fixed;
        top: 50vh;
            &::before, &::after{
                content: '';
                height: 2px;
                width: 25px;
                background: #fff;
                position: absolute;
                transform: rotateZ(45deg);
                transform-origin: 100% 0;
            }
            &::after{
                // transform: rotateZ(90deg);
                transform: rotateZ(-45deg);
                transform-origin: 100% 0;
                background: $whiteFour;
            }
        &.right{
            right: 0;
        }
        &.left{
            left: 0;
            transform: scale(-1);
        }
        @include pad {
            display: none;
        }
    }
}